=== GUI 介面 ===

customtkinter==5.2.2

=== 爬蟲與網頁自動化 ===

undetected-chromedriver3.5.3
selenium4.15.2
beautifulsoup44.12.2
requests2.31.0

=== 資料處理與進度條 ===

pandas2.0.0
openpyxl3.1.2
tqdm==4.66.1

=== 資料庫與環境變數 ===

psycopg2-binary2.9.9
python-dotenv1.0.0